<!DOCTYPE html>
<html>
<head>
    <title>Dein Portfolio</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section>
            <h3>Etwas über mich</h3>
            <p>Schreibe einen kurzen Text über Dich</p>
        </section>
        <section>
            <h3>Skills</h3>
            <p>Mit diesen Tools und Sprachen arbeite ich jeden Tag</p>
            <ul>
                {% for skill in skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h3>Kontakt</h3>
            <p>Ein kurzer Text, dass man Dich über das Kontaktformular erreichen kann</p>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
</html>
