<!DOCTYPE html>
<html>
<head>
    <title>Dein Portfolio</title>
</head>
<body>
    <header>
        <h1>{{ name }}</h1>
        <h2>Deine "zukünftige" Rolle</h2>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Etwas über mich</h3>
            <p>Schreibe einen kurzen Text über Dich</p>
        </section>
        <section>
            <h3>Skills</h3>
            <p>Mit diesen Tools und Sprachen arbeite ich jeden Tag</p>
            <ul>
                {% for skill in skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h3>Kontakt</h3>
            <p>Ein kurzer Text, dass man Dich über das Kontaktformular erreichen kann</p>
        </section>
    </main>
    <footer>
        <h3>Credits</h3>
        <p>Kurzer Dankestext und Verlinkung auf die Techstarter Website in einem neuen Tab <a href="https://techstarter.de/" target="_blank">hier</a></p>
    </footer>
</body>
</html>
